@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Signika:wght@300..700&display=swap');

* {
    font-family: "Inter", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev {
    color: white !important;
    font-weight: 400 !important;
    font-size: 14px !important;
}

.swiper-button-next {
    color: white !important;
    font-weight: 400 !important;
    background: #000;
    width: 20px !important;
    height: 30px !important;
}

.categories {
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.categoryParent:hover .categories {
    transform: scaleY(1);
    opacity: 1;
}

.navLinkStyle {
    transform: scale(0);
    transition: transform 0.3s ease;
    /* Add transition for smooth effect */
}

.active .navLinkStyle {
    transform: scale(1);
}

.active .navLinkParent {
    padding-left: 16px;
    color: #1b8057;
}

.navLinkParent:hover {
    padding-left: 16px;
    color: #1b8057;
}

.navLinkParent:hover .navLinkStyle {
    transform: scale(1);
}

.galleryParent:hover .galleryImage {
    scale: 1.1;
}

.freshFood {

    font-family: "Pacifico", cursive;
}

.bakeryFood {

    font-family: "Signika", sans-serif;
}

.inner-border {
    box-shadow: inset 0 -0.5px 0 0 rgb(128, 128, 128);
    /* Adjust the color and thickness */
}

.inner-border:hover {
    box-shadow: inset 0 -2px 0 0 black;
    /* Adjust the color and thickness */
}

.labelFont {

    font-family: "Inter", sans-serif;

}