@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev {
    color: white !important;
    font-weight: 400 !important;
    font-size: 14px !important;
}
.swiper-button-next {
    color: white !important;
    font-weight: 400 !important;
    background: #000;
    width: 20px !important;
    height: 30px !important;
}